doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    | !{head.title.toString()}
    | !{head.meta.toString()}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.26/css/bulma.min.css')
    script.
      window.__STORE__ = '!{JSON.stringify(state).replace(/<\//g, "<\\/")}';
  body
    #app!= rendered
    each script in scripts
      script(src=script)
